name: Check Code Quality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-golangcli-lint:
    name: Lint golangci-lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.2.0
        with:
          args: --timeout=5m
